.table {
  max-width: 100%;
  overflow-x: auto;
}

.table table,
.table th,
.table td {
  border: 2px solid var(--color-gray-300);
  padding: 14px;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
}

.table table {
  border-collapse: collapse;
  width: 100%;
}

.table table thead th {
  font-weight: bold;
}

.table table tbody tr:nth-child(odd) {
  background: var(--color-gray-100);
}

@media (min-width: 900px) {
  .table table,
  .table th,
  .table td {
    padding: 16px 30px;
    font-size: 17px;
    line-height: 28px;
  }
}